@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
  }
  .titlebar {
    height: 40px;
    background: rgba(47, 50, 65, 0.3);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    app-region: drag;
     border-bottom: 1px solid #ccc;
  }
  .container {
    padding: 5px;
  }
}
